
<form action="/CongNhan/ListByTime" method="post">
    <label> So trieu chung:</label> <input type="number" name="SoTC"/><br />
    <input type="submit" value="Liet Ke" name="submit" id="them" />
</form>