

    <form action="/DiemCachLy/AddDCL" method="post">
        <label>Ma diem cach ly:</label><input type="text" name="MaDiemCachLy" /><br>
        <label>Ten diem cach ly:</label><input type="text" name="TenDiemCachLy" /><br>
        <label>Dia Chi:</label><input type="text" name="DiaChi" /><br>
        <input type="submit" name="submit" value="Thêm" id="them" />
    </form>

